.send-button{
  background-color: rgb(17, 138, 17);
  font-size: 16px;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  margin-left: 10px;
  color: white;
  cursor: pointer;
}
.text-input{
  padding: 8px;
  border-radius: 10px;
  border-width: 1px;
  flex-grow: 1;
}
.input-container{
  display: flex;
  margin-top: 15px;
  margin-bottom: 60px;
}