.robot-message-container{
  display: flex;
  gap: 10px;
  justify-content: start;
  padding-top: 10px;
}
.user-message-container{
  display: flex;
  gap: 10px;
  justify-content: end;
  padding-top: 10px;
}
.icon{
  width: 45px;
  height: 45px;
  border-radius: 50px;
  align-self: center;
  object-fit: cover;
}
.message-text{
  display: flex;
  align-items: left;
  flex-direction: column;
  padding: 10px 12px;
  background-color: rgb(198, 198, 198);
  border-radius: 10px;
  max-width: 300px;
}
.chat-container{
  flex-grow: 1;
  overflow: scroll;
  scrollbar-width: none;
}
.time{
  color: rgb(64, 63, 63);
  font-size: 12px;
}